#header{
	width:100%;
	height:100px;
	text-align:center;
}
body{
	background-image: url("Background.png");
	background-repeat: repeat-x;
	background-color: #800000
}
iframe{
	seamless: seamless;
}